<header>
   
        <div class="headerline_section">
            <a class="navbar-brand" href="#page-top">  <img src="assets/img/header/logo.png" class="logo"></a>
            <!--
            <form> 
                <div class="form-research">
                  <input type="text" class="researchinput" id="textresearch" name="textresearch">
                  <button type="submit" class="btn btnresearch"> <span class="reseacherspan"><img src="assets/img/header/reseachericon.png" class="researchicon"></span></button>
                </div>   
            </form>
        -->
            <nav class="navbar navbar-expand-lg " id="nav">
                
                <ul class="list-group list-group-horizontal  list-group list-group-horizontal  ">
                    <li class=" list-group-item tel"> <span> 000-000-000</span>  </li>
                    <li class="list-group-item"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#"> <img src="assets/img/header/telicon.png" class="icon icon-tel"> </a></li>
                    <li class=" list-group-item"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#"><img src="assets/img/header/fb.png" class="icon fbicon "> </a></li>
                    <li class=" list-group-item"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#"><img src="assets/img/header/insat.png" class="icon  icon-insta"> </a></li>
                    <li class=" list-group-item"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#"><img src="assets/img/header/contact.png" class="icon  icon-contact"> </a></li>
                    <li class=" list-group-item"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#"><img src="assets/img/header/Forme.png" class="icon  icon-shop"> </a> 
                        <span class="position-absolute top-0 start-50  rounded-circle  p-2" style=" position:absolute; top:70%; left:140%;width:20px; height:20px; border:50% ;background:#7ba829;color:white;padding:2px; font-size:12px; text-align: center;">
                        <span style=" position:absolute; top:20%; left:-100%;color:white;padding:2px; font-size:12px; text-align: center; font-family: 'Times New Roman', Times, serif;">8</span>
                        </span>
                   </li>
                </ul>
        
            </nav>
       
        </div>
 
</header>
