<div class="containerout container-fluid"> 
  <div class="row">
  <div class="top_cont_out col-md-12">
    <div class="card-title1" > <h1 class="h1 text-center "> TITRE CHANGER </h1></div>

    <div class="card-parag d-inline" > 
   <h2 class="h2"> Titre changer </h2>
    <h3 class="h3 "> Titre changer </h3>
    <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget porta ex. Proin vitae nibh eu justo euismod ultricies.<br/></p>
     
      <p>Vivamus vitae semper ipsum. Phasellus quam mauris, tincidunt et congue sed, pharetra et lectus. Mauris at magna id augue volutpat hendrerit. </p>
      
      <p>Maecenas at accumsan tortor. Ut sagittis euismod ultricies. Quisque quis bibendum mi, a iaculis risus. Maecenas ac posuere nunc.</p>
     <p>In tempus convallis dictum. Proin sit amet nulla a ipsum feugiat dictum. Vestibulum id sagittis felis, ullamcorper semper lectus. </p>
       <p>Proin porttitor leo sed rhoncus porta. In volutpat finibus tortor, non fringilla eros rhoncus a. Ut dictum tristique venenatis.</p>
       <a href="#"> Contactez-vous</a>

      
      

       </div>
      
  </div>
  

    <div class="center_cont_out col-md-12">
      
                
                <div class="fond1"></div>
                <div class="fond2"> <div class="cerclecenter position-absolute top-0 start-50"><a href="#"><img src="assets/Calque15.png" ></a></div></div>
                <div class="react">
               
                  <h1 class="h2" style="color:white"> Text change</h1>

                  <p >
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 
                    
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    
                     
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  
                      
                 
                  <a href="#"> Contactez-vous</a>
                
                   
                </div>
                
       
    </div>
  
        <section class="bottom_cont_out col-md-12">
            <div class="container">
              <h1 class="h1" style="color:#5a3715 "> Notre Produit</h1>
              <a href="#">><span class="h4" style="text-decoration: none; color:black; font-weight: lighter;"> Produits de beautés et cosématiques</span></a>
              <p><span class="h5" style="text-decoration: none; color:black; font-weight: lighter; font-size: 20px;">(44 articles) </span></p>
              <div class="row mb-md-2"style="margin-top:50px;" >
                
                  <div class="col-md-6 col-lg-4">
                      <div class="card shadow-sm border-light mb-4">
                          <a href="#" class="position-relative">
                            
                            <div class="d-flex justify-content-between card-title-top-right">
                                
                                
                            
                          </div>
                          <div class="d-flex justify-content-between card-title-top-left">
                                
                            <div class="col pr-0" > <span class="h5" style="position:absolute ; top:5px; left:10px ; text-align: ;"> Promo! </span></div>
                        
                      </div>
                              <img src="assets/img/produit/Calque15.png" class="card-img-top" alt="image"> </a>
                          
                            <div class="d-flex justify-content-between card-title-top">
                                
                                <div class="col pr-0"> <span class="h5"> Détail de l'offre  </span></div>
                            
                          </div>
                              <div class="card-body">
                                <h5 class="card-title"> NATUREX CREME DE CHANGE 50 G </h5>
                                
                                  <div class="d-flex flex-row-reverse">
                                    <p class="card-text d-xl-inline-fle">8.20 €</p>
                             
                                  </div>
                                
                                <a href="#" class="btn btn-primary"><span> <img src="assets/img/produit/panier.png"></span> AJOUTER AU PANIER</a>
                              </div>
                     </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card shadow-sm border-light mb-4">
                            <a href="#" class="position-relative">
                              
                              <div class="d-flex justify-content-between card-title-top-right">
                                  
                              
                              
                            </div>
                            <div class="d-flex justify-content-between card-title-top-left">
                                  
                               <div class="col pr-0" > <span class="h5" style="position:absolute ; top:5px; left:10px"> Promo! </span></div>
                          
                        </div>
                                <img src="assets/img/produit/Calque15.png" class="card-img-top" alt="image"> </a>
                            
                              <div class="d-flex justify-content-between card-title-top">
                                  
                                  <div class="col pr-0"> <span class="h5"> Détail de l'offre  </span></div>
                              
                            </div>
                                <div class="card-body">
                                  <h5 class="card-title"> NATUREX CREME DE CHANGE 50 G </h5>
                                  
                                    <div class="d-flex flex-row-reverse">
                                      <p class="card-text d-xl-inline-fle">8.20 €</p>
                               
                                    </div>
                                  
                                    <a href="#" class="btn btn-primary"><span> <img src="assets/img/produit/panier.png">AJOUTER AU PANIER</span>  </a>
                                </div>
                       </div>
                      </div>
                      <div class="col-md-6 col-lg-4">
                        <div class="card shadow-sm border-light mb-4">
                            <a href="#" class="position-relative">
                              
                              <div class="d-flex justify-content-between card-title-top-right">
                                  
                               
                              
                            </div>
                            <div class="d-flex justify-content-between card-title-top-left">
                                  
                               <div class="col pr-0" > <span class="h5" style="position:absolute ; top:5px; left:10px"> Promo! </span></div>
                          
                        </div>
                                <img src="assets/img/produit/Calque16.png" class="card-img-top" alt="image"> </a>
                            
                              <div class="d-flex justify-content-between card-title-top">
                                  
                                  <div class="col pr-0"> <span class="h5"> Détail de l'offre  </span></div>
                              
                            </div>
                                <div class="card-body">
                                  <h5 class="card-title"> NATUREX CREME DE CHANGE 50 G </h5>
                                  
                                    <div class="d-flex flex-row-reverse">
                                      <p class="card-text d-xl-inline-fle">8.20 €</p>
                               
                                    </div>
                                  
                                    <a href="#" class="btn btn-primary"><span> <img src="assets/img/produit/panier.png">AJOUTER AU PANIER</span>  </a>
                                </div>
                       </div>
                      </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm border-light mb-4">
                        <a href="#" class="position-relative">
                          
                          <div class="d-flex justify-content-between card-title-top-right">
                              
                           
                        </div>
                        <div class="d-flex justify-content-between card-title-top-left">
                              
                           <div class="col pr-0" > <span class="h5" style="position:absolute ; top:5px; left:10px"> Promo! </span></div>
                      
                    </div>
                            <img src="assets/img/produit/Calque17.png" class="card-img-top" alt="image"> </a>
                        
                          <div class="d-flex justify-content-between card-title-top">
                              
                              <div class="col pr-0"> <span class="h5"> Détail de l'offre  </span></div>
                          
                        </div>
                            <div class="card-body">
                              <h5 class="card-title"> NATUREX CREME DE CHANGE 50 G </h5>
                              
                                <div class="d-flex flex-row-reverse">
                                  <p class="card-text d-xl-inline-fle">8.20 €</p>
                           
                                </div>
                              
                                <a href="#" class="btn btn-primary"><span> <img src="assets/img/produit/panier.png">AJOUTER AU PANIER</span>  </a>
                            </div>
                   </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm border-light mb-4">
                        <a href="#" class="position-relative">
                          
                          <div class="d-flex justify-content-between card-title-top-right">
                              
                          
                        </div>
                        <div class="d-flex justify-content-between card-title-top-left">
                              
                           <div class="col pr-0" > <span class="h5" style="position:absolute ; top:5px; left:10px"> Promo! </span></div>
                      
                    </div>
                            <img src="assets/img/produit/Calque18.png" class="card-img-top" alt="image"> </a>
                        
                          <div class="d-flex justify-content-between card-title-top">
                              
                              <div class="col pr-0"> <span class="h5"> Détail de l'offre  </span></div>
                          
                        </div>
                            <div class="card-body">
                              <h5 class="card-title"> NATUREX CREME DE CHANGE 50 G </h5>
                              
                                <div class="d-flex flex-row-reverse">
                                  <p class="card-text d-xl-inline-fle">8.20 €</p>
                           
                                </div>
                              
                                <a href="#" class="btn btn-primary"><span> <img src="assets/img/produit/panier.png">AJOUTER AU PANIER</span>  </a>
                            </div>
                   </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm border-light mb-4">
                        <a href="#" class="position-relative">
                          
                          <div class="d-flex justify-content-between card-title-top-right">
                              
                           
                        </div>
                        <div class="d-flex justify-content-between card-title-top-left">
                              
                           <div class="col pr-0" > <span class="h5" style="position:absolute ; top:5px; left:10px"> Promo! </span></div>
                      
                    </div>
                            <img src="assets/img/produit/Calque19.png" class="card-img-top" alt="image"> </a>
                        
                          <div class="d-flex justify-content-between card-title-top">
                              
                              <div class="col pr-0"> <span class="h5"> Détail de l'offre  </span></div>
                          
                        </div>
                            <div class="card-body">
                              <h5 class="card-title"> NATUREX CREME DE CHANGE 50 G </h5>
                              
                                <div class="d-flex flex-row-reverse">
                                  <p class="card-text d-xl-inline-fle">8.20 €</p>
                           
                                </div>
                              
                                <a href="#" class="btn btn-primary"><span> <img src="assets/img/produit/panier.png">AJOUTER AU PANIER</span>  </a>
                            </div>
                   </div>
                  </div>
              </div>
              <div class="row mb-md-2">
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm border-light mb-4">
                        <a href="#" class="position-relative">
                          
                          <div class="d-flex justify-content-between card-title-top-right">
                              
                           
                        </div>
                        <div class="d-flex justify-content-between card-title-top-left">
                              
                          <div class="col pr-0" > <span class="h5" style="position:absolute ; top:5px; left:10px"> Promo! </span></div>
                      
                    </div>
                            <img src="assets/img/produit/Calque20.png" class="card-img-top" alt="image"> </a>
                        
                          <div class="d-flex justify-content-between card-title-top">
                              
                              <div class="col pr-0"> <span class="h5"> Détail de l'offre  </span></div>
                          
                        </div>
                            <div class="card-body">
                              <h5 class="card-title"> NATUREX CREME DE CHANGE 50 G </h5>
                              
                                <div class="d-flex flex-row-reverse">
                                  <p class="card-text d-xl-inline-fle">8.20 €</p>
                           
                                </div>
                              
                                <a href="#" class="btn btn-primary"><span> <img src="assets/img/produit/panier.png">AJOUTER AU PANIER</span>  </a>
                            </div>
                   </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm border-light mb-4">
                        <a href="#" class="position-relative">
                          
                          <div class="d-flex justify-content-between card-title-top-right">
                              
                           
                          
                        </div>
                        <div class="d-flex justify-content-between card-title-top-left">
                              
                           <div class="col pr-0" > <span class="h5" style="position:absolute ; top:5px; left:10px"> Promo! </span></div>
                      
                    </div>
                            <img src="assets/img/produit/Calque21.png" class="card-img-top" alt="image"> </a>
                        
                          <div class="d-flex justify-content-between card-title-top">
                              
                              <div class="col pr-0"> <span class="h5"> Détail de l'offre  </span></div>
                          
                        </div>
                            <div class="card-body">
                              <h5 class="card-title"> NATUREX CREME DE CHANGE 50 G </h5>
                              
                                <div class="d-flex flex-row-reverse">
                                  <p class="card-text d-xl-inline-fle">8.20 €</p>
                           
                                </div>
                              
                                <a href="#" class="btn btn-primary"><span> <img src="assets/img/produit/panier.png">AJOUTER AU PANIER</span>  </a>
                            </div>
                   </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm border-light mb-4">
                        <a href="#" class="position-relative">
                          
                          <div class="d-flex justify-content-between card-title-top-right">
                              
                            <div class="col pr-0"> <span class="spanimg"> <img src="assets/img/produit/camera.png"> </span>
                               <span class="h5  spantext"> 8  </span>>
                            </div>
                          
                        </div>
                        <div class="d-flex justify-content-between card-title-top-left">
                              
                           <div class="col pr-0" > <span class="h5" style="position:absolute ; top:5px; left:10px"> Promo! </span></div>
                      
                    </div>
                            <img src="assets/img/produit/Calque22.png" class="card-img-top" alt="image"> </a>
                        
                          <div class="d-flex justify-content-between card-title-top">
                              
                              <div class="col pr-0"> <span class="h5"> Détail de l'offre  </span></div>
                          
                        </div>
                            <div class="card-body">
                              <h5 class="card-title"> NATUREX CREME DE CHANGE 50 G </h5>
                              
                                <div class="d-flex flex-row-reverse">
                                  <p class="card-text d-xl-inline-fle">8.20 €</p>
                           
                                </div>
                              
                                <a href="#" class="btn btn-primary"><span> <img src="assets/img/produit/panier.png">AJOUTER AU PANIER</span>  </a>
                            </div>
                   </div>
                  </div>
            </div>
              <div class="row py-4 mt-md-5">
                  <div class="col text-center">
                      <a href="#" class="btn btn-lg shadow mt-1" style="position: absolute; float: right; right: 0; color: black; text-decoration: underline;">Voir tous des produits </a>
                  </div>
              </div>
          </div>
          </section>
</div>
</div>    

      
  
      <!-- Force next columns to break to new line at md breakpoint and up -->
    
